{% extends 'music/layout.html' %}
{% block title %}
  Albums
{% endblock %}
{% block body %}
  {% if object_list %}
    <div class="row">

        {% for album in object_list %}
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="{{ album.album_logo.url }}" style="height: 300px;">
              <caption>
                <header class="h4"><a href="{% url 'detail' album.id %}">{{ album.album_title }}</a></header>
                <h5>{{ album.artist }}</h5>
              </caption>
              <form action="{% url 'delete-album' album.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-delete btn btn-xs glyphicon glyphicon-trash"></button>
              </form>
            </div>
          </div>
        {% endfor %}

    </div>
  {% else %}
    <h3>You don't have albums!</h3>
  {% endif %}
{% endblock %}