<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load staticfiles %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{% static 'my-style.css' %}">
  <script src="{% static 'script.js' %}"></script>

  <title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Viberr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-cd"></span>&ensp;Albums</a></li>
      </ul>

      <form class="navbar-form navbar-left">
        <div class="input-group">
          <input type="text" class="form-control search" placeholder="Search">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'add-song' %}"><span class="glyphicon glyphicon-plus"></span>Add&ensp;Song</a></li>
        <li><a href="{% url 'add-album' %}"><span class="glyphicon glyphicon-plus"></span>&ensp;Add Album</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-off"></span>&ensp;Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
{% block body %}
{% endblock %}
</div>

</body>
</html>